---
import "../styles/global.css";
const {
  title = "-Eliáš Bencúr: Resume-",
  description = "Eliáš Bencúr: Resume",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<script>
  let currentTitle = "- Eliáš Bencúr: Resume -";
  setInterval(() => {
    currentTitle = currentTitle.slice(1) + currentTitle[0];
    document.title = currentTitle;
  }, 500);
</script>
